:root {
	--c-bg: #000;
	--c-accent__one: #8140b3;
	--c-accent__two: #3d8ecc;
	--c-accent__three: #a46218;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url(./img/bg.jpg);
	background-size: 200px;
}

.middle {
	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);
}

/* Slider */
.slider {
	width: 80%;
	height: 80%;
	overflow: hidden;

	background-color: var(--c-bg);
	border: 3px solid var(--c-accent__two);
	border-radius: 30px;
	box-shadow: 0 0 10px var(--c-accent__two);
}

input[name="slider"] {
	position: absolute;
	visibility: hidden;
}

.slides {
	display: flex;
	width: 300%;
	height: 100%;

	transition: 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

.slide {
	width: calc(100% / 3);
	height: 100%;
}

.slide--guide {
	animation: sliderAnimate 10s infinite ease;
}

@keyframes sliderAnimate {
	0% {
		margin-left: 0;
	}
	30% {
		margin-left: -100%;
	}
	60% {
		margin-left: -200%;
	}
	70% {
		margin-left: -200%;
	}
	80% {
		margin-left: -100%;
	}
	100% {
		margin-left: 0;
	}
}

.slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* Control */
.slider__dots {
	position: absolute;
	bottom: 16px;
	left: 50%;

	display: flex;

	transform: translateX(-50%);
}

.slider__dot {
	width: 30px;
	height: 8px;
	margin: 6px;

	cursor: pointer;
	opacity: 0.7;
	background-color: var(--c-bg);
	box-shadow: 0 0 10px var(--c-bg);
	border-radius: 10px;
	transition: 0.3s ease;
}

.slider__dot:hover {
	background-color: var(--c-accent__one);
	box-shadow: 0 0 10px var(--c-accent__one);

	opacity: 1;
	transform: scale(1.2);
}

/* Checked */
slide-1:checked ~ .slide--guide {
	margin-left: 0;
	animation: none;
}

#slide-2:checked ~ .slide--guide {
	margin-left: -100%;
	animation: none;
}

#slide-3:checked ~ .slide--guide {
	margin-left: -200%;
	animation: none;
}

/* Checked dot */

#slide-1:checked ~ .slider__control .slider__dots label[for="slide-1"],
#slide-2:checked ~ .slider__control .slider__dots label[for="slide-2"],
#slide-3:checked ~ .slider__control .slider__dots label[for="slide-3"] {
	background-color: var(--c-accent__three);
}
